<!DOCTYPE html>
<html lang="en">
<head>
    <title>Registeration</title>
</head>
<body>
    <form action="/registeruser" method="POST">  
        <label>Name </label> <br>  
        <input type="text" name="uname" required><br> <br>  
        <label>Username </label> <br>  
        <input type="text" name="username" required><br> <br> 
        <label>Password</label> <br>  
        <input type="password" name="pass" required>  <br> <br>
        <label>Email</label> <br>  
        <input type="email" name="email" required>  <br> <br>  
        <input type="submit" value="Register"> 
        <!-- <input type="button" value="signUp" a href="/signUp">  -->
        </form>  
        <p>Have account <a href="/">Login</a></p>
</body>
</html>